@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


:root {
  --primary: #011627;
  --secondary: #010E1A;
  --white: #ffffff;
  --accent: #8F43EE;
}

body {
  background-color: var(--primary);
  font-family: 'Inter', sans-serif;
}

.compiler {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  margin-top: 1rem;
  height: 4rem;
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 3.5rem;
  width: auto;
}

.languages-dropdown {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  align-items: center;
  border-radius: 1rem;
  height: 95%;
  width: 97%;
  background: var(--secondary);
  box-shadow: 9px 9px 18px #01101c,
    -9px -9px 18px #011c3258;
  padding: 1rem;
}

.code-editor {
  height: 100%;
  width: 70%;
  border-radius: 0.5rem;
  overflow: hidden;
}

.terminal {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
  margin-left: 1rem;
  border-radius: 0.5rem;
  font-family: 'JetBrains Mono', monospace;
}

.output {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  color: var(--white);
  font-size: 1rem;
}

.output-header {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Inter', sans-serif;
}

.output-title {
  font-weight: 400;
}

.run-button {
  min-width: 7rem;
  padding: 0.5rem 2rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.loading {
  height: 1.1rem;
  width: auto;
}

.output-terminal {
  margin-top: 0.5rem;
  flex-grow: 1;
  background-color: var(--primary);
  border-radius: 0.5rem;
  padding: 0.5rem;
  overflow: auto;
}

.input-tile {
  color: var(--white);
  flex-grow: 1;
  margin-top: 1rem;
  width: 100%;
  background-color: var(--primary);
  border: 1px solid rgba(143, 67, 238, 0.58);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.input-tile textarea {
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  resize: none;
  color: var(--white);
  font-size: 1rem;
}

.input-tile textarea:focus {
  outline: none;
}

@media only screen and (max-width: 720px) {
  .compiler {
    height: auto;
  }

  .card {
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 1.1rem;
  }

  .header {
    padding: 1rem;
  }

  .code-editor {
    width: 100%;
    height: 75vh;
  }

  .terminal {
    margin: 0;
    margin-top: 1rem;
    width: 100%;
    height: 30vh;
  }

  .logo {
    height: 3rem;
  }
}